<section id="posts-list">
  <h3>Posts</h3>
  <%= for post <- @posts do %>
    <article class="post-card">
      <h1><%= post.title %></h1>
      <div class="post-meta">
        <div><%= format_date(post) %></span></div>
        <div class="tags-list">tags: <%= tags(post) %></div>
      </div>
      <p><%= post.description %></p>
      <%= button("Read Post", to: "/#{post.id}", method: :get) %>
    </article>
  <% end %>
</section>
