<section id="posts-list">
  <h3><%= index_heading(@tag) %></h3>
  <%= for post <- @posts do %>
    <article class="post-card">
      <h1><%= post.title %></h1>
      <div class="post-meta">
        <div><%= format_date(post) %></span></div>
        <div class="tags-list">tags: <%= tag_links(post.tags) %></div>
      </div>
      <p><%= post.description %></p>
      <%= link("Read Post", to: "/#{post.id}", class: "btn") %>
    </article>
  <% end %>
</section>
