/* This file is for your main application css. */

/* @import "./makeup.css"; */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 15px;
  box-shadow: 0 0 10px lightgray;
}

header > * {
  margin: 0 10px;
}

nav {
  display: flex;
  margin-left: auto;
}

nav div {
  flex: 1 1 auto;
}

#title { }
#posts { }

main {
  background: skyblue;
  margin-top: 60px;
}

.container {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
}
