/* This file is for your main application css. */

@import "./makeup.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  padding: 15px;
  box-shadow: 0 0 6px lightgray;
  background-color: white;
}

#header-container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  font-family: Spartan, sans-serif;
  font-weight: bold;
}

header > * {
  margin: 0 10px;
}

nav {
  display: flex;
  margin-left: auto;
  padding-top: 7px;
  color: dimgrey;
}

nav > * {
  flex: 1 1 auto;
}

nav a:visited {
  color: dimgrey;
}

main {
  margin-top: 60px;
}

h1, h2, h3 {
  font-family: Spartan, sans-serif;
  color: darkslategrey;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

#blog-title {
  font: 25px "Baloo Bhaina 2", sans-serif;
  margin-top: -7px;
  color: dimgrey;
}

/* POSTS */

#posts-list {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  flex-direction: column;
}

#posts-list h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.post-meta {
  font: 13px Spartan, sans-serif;
  color: dimgrey;
}

.tags-list {
  color: blue;
  margin-top: 3px;
}

.post-card {
  box-shadow: 0 0 3px lightgray;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
}

.post-card h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 26px;
}

.post-card p {
  margin: 30px 0;
  font-size: 18px;
}

.post-card button {
  padding: 12px 15px 10px;
  border-radius: 8px;
  background-color: darkcyan;
  color: white;
  font: 12px Spartan, sans-serif;
}

.post-card button:hover {
  background-color: cadetblue;
  cursor: pointer;
}

.post-show .post-card {
  margin-top: 50px;
}

.post-show .body {
  line-height: 1.5;
}

.post-show .body h3 {
  padding-top: 10px;
}

.note-anchor {
  display: inline-block;
  position: relative;
  top: -100px;
}

/* Code blocks */

pre {
  border: 1px solid lightgrey;
  padding: 10px;
  background-color: #f8f8f8;
  line-height: initial;
  font-size: 15px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
}

pre code {
  font-family: "Source Code Pro", monospace;
}
