/* This file is for your main application css. */

@import "./makeup.css";
@import "./quarto.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  padding: 15px;
  box-shadow: 0 0 6px lightgray;
  background-color: white;
}

#header-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Spartan, sans-serif;
  font-weight: bold;
}

header > * {
  margin: 0 10px;
}

nav {
  display: flex;
  margin-left: auto;
  padding-top: 7px;
  color: dimgrey;
}

nav > * {
  flex: 1 1 auto;
  padding-left: 15px;
}

nav a:visited, nav a:link {
  color: dimgrey;
}

/* Responsive nav */

#responsive-nav {
  display: none;
}

#burger {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
}

#burger span {
  width: 22px;
  height: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  margin-bottom: 3px;
  z-index: 1;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#responsive-nav input {
  opacity: 0;
  bottom: 17px;
  right: 11px;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

#responsive-nav input:focus {
  background-color: transparent;
}

#responsive-nav ul {
  list-style-type: none;
  transform-origin: 0% 50%;
  right: 0;
  padding: 15px 50px 10px 50px;
  margin-top: 17px;
  transform: translate(250px, -30px);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background: #ededed;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

#responsive-nav ul li {
  padding: 15px 0;
}

#responsive-nav input:checked ~ ul {
  transform: none;
}

#responsive-nav input:checked ~ div > span {
  transform: rotate(45deg) translate(2px, 11px);
}

#responsive-nav input:checked ~ div > span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -10px);
}

#responsive-nav input:checked ~ div > span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

@media screen and (max-width: 450px) {
  nav > a {
    display: none;
  }

  #responsive-nav {
    display: initial;
  }

  #index {
    margin-top: 100px;
  }
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  main {
    display: block;
    justify-content: unset;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  main {
    margin-left: 0;
  }
}

h1, h2, h3, h4 {
  font-family: Spartan, sans-serif;
  color: darkslategrey;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

#blog-title {
  font: 25px "Baloo Bhaina 2", sans-serif;
  margin-top: -7px;
  color: dimgrey;
}

/* POSTS */

#index > h3 {
  margin: 40px 0 20px 15px;
}

#index > div {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
}

#index > div > div {
  flex-grow: 1;
}

#posts-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 300px;
}

#mailing-list {
  box-shadow: 0 0 4px lightgray;
  padding: 0 10px 15px;
  border-radius: 10px;
  background: #f8f8f8;
  margin: 20px 0 10px 15px;
  max-height: 230px;
  font-size: 14px;
  max-width: 300px;
}

#mailing-list h4 {
  font-size: 16px;
}

#mailing-list form > * {
  height: 30px;
  font-size: 13px;
  font-family: Inter, sans-serif;
}

#mailing-list form input {
  width: 100%;
  margin-right: 10px;
}

#mailing-list form button {
  border-radius: 5px;
  background-color: lightblue;
  margin-top: 10px;
}

.alert-danger {
  margin-top: 40px;
  color: red;
  background-color: pink;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  #mailing-list {
    max-width: initial;
    margin-left: 0;
  }

  #index > div {
    flex-wrap: wrap;
  }
}

.post-meta {
  font: 13px Spartan, sans-serif;
  color: dimgrey;
}

.tags-list {
  color: blue;
  margin-top: 3px;
}

.post-card {
  box-shadow: 0 0 3px lightgray;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
}

.post-card h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 26px;
}

.post-card h4 {
  margin-top: 30px;
  margin-bottom: -10px;
}

.post-card p {
  margin: 30px 0;
  font-size: 17px;
  color: #36393a;
}

.post-card .btn {
  padding: 12px 15px 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: darkcyan;
  color: white;
  font: 12px Spartan, sans-serif;
}

.post-card .btn:hover {
  background-color: cadetblue;
  cursor: pointer;
}

.post-show .post-card {
  margin-top: 50px;
}

.post-show .body {
  line-height: 1.5;
}

.post-show .body h3 {
  padding-top: 10px;
}

.note-anchor {
  display: inline-block;
  position: relative;
  top: -110px;
}

sup {
  font-size: 12px;
}

/* Code blocks - the !importants are due to Prism.js  */

pre {
  background-color: #f8f8f8;
  border: 1px solid lightgrey;
  padding: 10px;
  line-height: initial !important;
  border-radius: 4px;
  white-space: pre;
  word-break: break-word;
  overflow: auto;
}

code {
  font: 15px "Source Code Pro", monospace !important;
}

code.inline {
  background-color: #f5f2f0;
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding-left: 2px;
  padding-right: 2px;
}

code[class*="language-"] {
  word-break: break-word !important;
}

.token.operator {
  background: initial !important;
}

#about {
  margin-top: 50px;
}

#about h4 {
  margin-top: 40px;
}

#about li {
  margin: 2.5px 0;
}

.subscribed {
  margin: 20px;
}

.subscribed h1 {
  margin-top: 100px;
}

#unsubscribe {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#unsubscribe button {
  border-radius: 5px;
  background-color: lightblue;
  margin-top: 10px;
  padding: 12px 15px 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  font: 12px Spartan, sans-serif;
}

/* Email */

#email {
  display: initial;
}

#email #unsub {
  font-size: 10px;
  margin-top: 110px;
  text-align: center;
}

/* Markdown */

.md-image {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.flex {
  display: flex;
}
