/* This gets the LiveView phx-main div */
body > div:first-of-type {
  width: 100%;
  margin-top: 110px;
}

#game {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.player-status {
  width: 150px;
  margin-right: 20px;
}

.active-piece {
  height: 33%;
  margin-top: 20px;
  border: 2px lightgrey solid;
  border-radius: 4px;
  text-align: center;
}

.active-piece .piece {
  margin-top: 32px;
  margin-left: 4px;
}

.active-piece .piece .cube {
  margin-top: 50px;
}

#remaining-pieces-container {
  border: 2px lightgrey solid;
  border-radius: 4px;
  margin-left: 20px;
  text-align: center;
  height: 600px;
  z-index: 2;
  background: white;
  padding-top: 5px;
}

.remaining-pieces {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-top: 10px;
}

.raise-box {
  box-shadow: 0 0 7px lightgrey;
  transform: scale(1.1, 1.1);
  animation: select-piece 1s;
}

@keyframes select-piece {
  0% { transform: scale(1, 1); }
  100% { transform: scale(1.1, 1.1); }
}

.blackout {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.row {
  display: flex;
}

.slot {
  border: 6px solid lightblue;
  height: 125px;
  width: 125px;
  margin: 6px;
  border-radius: 50%;
}

.dark {
  background: saddlebrown;
}

.light {
  background: papayawhip;
}

.cube {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(3, 1, -1, 70deg);
  margin-top: 31px;
  margin-left: 33px;
}

.side {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 3%;
  border: black solid 1px;
}

.front.short {
  transform: translateY(25px) rotateX(90deg);
}

.front.tall {
  height: 100px;
  transform: rotateX(90deg);
}

.back.short {
  transform: translateY(-25px) rotateX(90deg);
}

.back.tall {
  height: 100px;
  transform: translateY(-50px) rotateX(90deg);
}

.left.short {
  transform: translateX(-25px) rotateY(90deg);
}

.left.tall {
  height: 100px;
  transform: translateX(-25px) translateY(-25px) rotateX(90deg) rotateY(90deg);
}

.right.short {
  transform: translateX(25px) rotateY(90deg);
}

.right.tall {
  height: 100px;
  transform: translateX(25px) translateY(-25px) rotateX(90deg) rotateY(90deg);
}

.top.short {
  transform: translateZ(25px);
}

.top.tall {
  transform: translateZ(50px);
}

.cube .bottom.short {
  transform: translateZ(-25px);
}

.cube .bottom.tall {
  transform: translateZ(-50px);
}

.hollow {
  width: 41px;
  height: 35px;
  border-radius: 50%;
  background: black;
}

.hollow.short {
  transform: translateZ(25px) translateY(7px) translateX(4px);
}

.hollow.tall {
  transform: translateZ(50px) translateY(7px) translateX(4px);
}

.cylinder {
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 2, 10deg);
}

.cylinder.short {
  margin-top: 38px;
  margin-left: 32px;
}

.cylinder.tall {
  margin-top: 12px;
  margin-left: 35px;
}

.cylinder .top {
  width: 55px;
  height: 25px;
  border: black solid 1px;
  border-radius: 60px / 25px;
  top: -10px;
  position: absolute;
}

.cylinder .middle {
  width: 55px;
  position: absolute;
  border-left: black solid 1px;
  border-right: black solid 1px;
}

.cylinder .middle.short {
  height: 40px;
}

.cylinder .middle.tall {
  height: 95px;
}

.cylinder .bottom {
  width: 55px;
  height: 25px;
  border: black solid 1px;
  border-radius: 60px / 25px;
  position: absolute;
}

.cylinder .bottom.short {
  top: 25px;
}

.cylinder .bottom.tall {
  top: 80px;
}

.cylinder .hollow {
  width: 41px;
  height: 14px;
  border-radius: 50%;
  background: black;
  transform: translateY(-5px) translateX(7px);
  position: absolute;
}

.remaining-pieces .cylinder {
  margin-right: 50px;
  margin-top: 60px;
}
