<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Super Perfundo" %></title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Lato:wght@300&family=Spartan:wght@400;800&display=swap');</style>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <div id="header-container">
        <div id="blog-title">Super Perfundo</div>
        <nav>
          <%= link("ARTICLES", to: "/") %>
        </nav>
      </div>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
