<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="<%= og_title(assigns) %>">
    <meta property="og:description" content="<%= og_description(assigns) %>">
    <meta property="og:image" content="<%= og_image(assigns) %>">
    <meta name="twitter:image" content="<%= og_image(assigns) %>">
    <meta property="og:url" content="<%= Routes.blog_url(@conn, :show, post_id(assigns)) %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="SuperPerfundo.Tech">

    <title><%= assigns[:page_title] || "SuperPerfundo.Tech" %></title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Spartan:wght@400;800&family=Inter:wght@300;400;700&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script async defer data-website-id="7bfeaf89-f553-487b-8f4a-a08f36835d53" src="<%= analytics_src() %>"></script>
  </head>
  <body>
    <header>
      <div id="header-container">
        <%= link("SuperPerfundo.Tech", to: "/", id: "blog-title") %>
        <nav>
          <%= link("ARTICLES", to: "/") %>
          <%= link("QUARTO", to: "/quarto") %>
          <%= link("ABOUT", to: "/about") %>
          <div id="responsive-nav">
            <input type="checkbox" />
            <div id="burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <ul>
              <a href="/"><li>ARTICLES</li></a>
              <a href="/quarto"><li>QUARTO</li></a>
              <a href="/about"><li>ABOUT</li></a>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
