<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>New SuperPerfundo.Tech Article</title>
    <link rel="stylesheet" href="<%= Routes.static_url(SuperPerfundoWeb.Endpoint, "/css/app.css") %>"/>
  </head>

  <body id="email">
    <section>
      <h1>
        <%= link(@post.title, to: Routes.blog_url(SuperPerfundoWeb.Endpoint, :show, @post.id)) %>
      </h1>
      <p><%= @post.description %></p>
      <p><strong>Published: <%= format_date(@post) %></strong></p>
    </section>
    <hr />
    <div id="unsub">
      If these emails are annoying, then
      <%= link("unsubscribe",
        to: Routes.subscription_url(SuperPerfundoWeb.Endpoint, :edit, @email),
        target: "_blank"
      ) %> already.
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(SuperPerfundoWeb.Endpoint, "/js/app.js") %>"></script>
  </body>
</html>
